*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  overflow-wrap: break-word;
}

audio, canvas, iframe, img, object, picture, svg, video {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

.container{
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax (100px 1fr));
}