.nav {
    display: flex;
    justify-content: space-evenly;
}

.nav p {
}

.schedule {
    margin-top: 2em;
}

.day {
}

.dayname {
    position: sticky;
    top: 0;
    padding: 0.25em 0;
    font-size: 2em;
    background: var(--off-white);
}

.time-of-day {
    margin: 1em 0 2em;
    font-size: 1.5em;
}

.workshop {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 6em;
    font-size: 1rem;
}

@media (max-width: 450px) {
    .workshop {
        display: block;
    }
}

.workshop .gallery {
    /* should you be allowed to grow, should you be allowed to shrink, and how big should you try to be */
    flex: 0 1 400px;
}

.workshop .gallery.horizontal {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

/* .workshop .gallery.horizontal .small-imag {
    flex: 1 1 33%;
} */

@media (max-width: 450px) {
    .workshop .gallery {
        flex: 1 1 auto;
        margin-bottom: 1em;
    }
}

.workshop .gallery img {
    width: 100%;
}

.workshop .description {
    flex-basis: 450px;
}

.workshop .description .workshop-title {
}

.workshop .description .teacher-name {
}

.workshop .description .details {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 1em;
}

/* 
transform: translate y axis

-margins */

/*
Meals
*/
#meals {
    gap: 1em;
    margin-bottom: 5em;
}

#meals > img {
    max-width: 20em;
    margin: auto;
    margin-top: 2em;
}

#meals .gallery img {
    border-radius: 100%;
}
#meals .gallery {
    flex: 0 1 20em;
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 2.6em 0 2em 0;
}

#meals .gallery div {
    flex: 1 1 1em;
}

#meals .gallery img {
    border-radius: 100%;
}
