html {
    background: white;
}

body {
    /*
        clamp() is a function that takes 3 arguments:
        1. a lower limit
        2. some value that is going to be clamped
        3. an upper limit
        The result of the function is going to be the value (2.),
        but limited so that it never goes below the lower limit (1.)
        or above the upper limit (3.).
        
        So for the font size, what we currently have is:
        1. never go smaller than 1rem
        2. try to be .8rem + 0.5vw
        3. never go bigger than 1.2rem

        rem units are relative to the font size of the root-most
        element in the DOM. In our case, that's the font-size
        set on the html element rule in site.css (16px)
        1rem = 1 x 16px
        0.8rem = 0.8 x 16px
        1.2rem = 1.2 x 16px

        vw units are relative to the "viewport width", which
        in our case means the width of the browser window.
        100vw is the full width of the window.
        1vw is 1/100th (or 1%) of the full width of the window.

        so that middle value in the clamp,
        0.8rem + 0.5vw
        is like saying
        (0.8 x 16px) + (window width ÷ 200)
        
        So the 0.8rem part is a fixed value
        (doesn't change with the size of the window),
        and the 0.5vw part scales as the window gets wider.
        
        If you increase the 0.5vw part, the font size will
        scale more dramatically as you resize the window.
        If you double it (so: 1vw), the font size will grow
        twice as fast as before when the window gets wider.
        If you set the 0.5vw to 0vw, the font size won't scale at all.
        If you set it to a negative number, the font will shrink
        as the window gets wider.

        If you increase the 0.8rem value, the font will be bigger
        at all window sizes. If you set it to 0rem, the font
        will be smaller, and it will be exactly 0px when the window
        is 0px wide (which is impossible, but worth thinking about).
        If you set it to a negative value (say, -1em), the font will
        be even smaller at all sizes, and will be 0px even when the
        browser window is a bigger size.

        If you want to go look at some graphs, the formula here is
        y = mx + b (which you might have seen in high school math).
        Search for "slope of a line" and you'll see that formula.

        The 0.8em is `b`, the 0.5vw is `m`, the width
        of the browser window is `x`, and the font size is `y`.

        If all of this is too complicated, it's totally fine to just
        change the font-size rule to a static value like 1rem,
        and then add some media queries to scale it up as the
        browswer gets wider.

    */

    font-size: clamp(1rem, 0.8rem + 0.5vw, 1.1rem);
    /* font-size: clamp(1rem, 0.8rem + 0.5vw, 1.6rem); */
    /* font-size: min(1rem + 0.5vw, 1.6rem); */
}

h1 {
    margin-top: 2em;
}

.weaving-connections-header h1 {
    margin-top: 1em;
}

.weaving-connections-header .year {
    margin: 0.2em 0 1em;
}

.weaving-connections-header p {
    max-width: 48ch;
    margin: 0 auto;
    padding: 0.35em 0;
}

.registration-link {
    margin: 2em 0 0;
    text-align: center;
}

.registration-link a {
    padding: 0.6em 1em;
    border-radius: 8px;
    background: var(--off-white);
    cursor: pointer;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 4em 0 1em;
    padding: 1.5em;
    color: var(--off-white);
    background-color: color(display-p3 0.46 0.373 0.322);
}

nav a {
    flex: 1 1 4em;
    padding: 0.25em 0.3em;
    text-align: center;
    font-size: 1.3em;
    color: inherit;
}

#classes {
    margin-top: 2em;
}

.day {
}

.dayname {
    position: sticky;
    top: 0;
    padding: 0.25em 0;
    font-size: 2em;
    background: color(display-p3 1 0.98 0.96);
    z-index: 2;
}

.time-of-day {
    position: sticky;
    top: 2.2em;
    margin: 0 0 0;
    padding: 0.5em 0;
    font-size: 1.4em;
    background: var(--off-white);
}

.workshop {
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 3em 0 6em;
}

@media (max-width: 600px) {
    .workshop {
        display: block;
    }
}

.workshop .gallery {
    /* should you be allowed to grow, should you be allowed to shrink, and how big should you try to be */
    flex: 0 1 400px;
}

.workshop .gallery.horizontal {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

/* .workshop .gallery.horizontal .small-imag {
    flex: 1 1 33%;
} */

@media (max-width: 600px) {
    .workshop .gallery {
        flex: 1 1 auto;
        margin-bottom: 1em;
    }
}

.workshop .gallery img {
    width: 100%;
    border: 0.6em solid var(--off-white);
    border-radius: 2px;
}

.workshop .description {
    flex-basis: 450px;
}

.workshop .description .workshop-title {
}

.workshop .description .teacher-name {
}

.workshop .description .details span {
    display: inline-block;
}

.workshop .description .seats-left {
    margin-top: 1em;
    font-style: italic;
}
/* 
transform: translate y axis

-margins */

/*
Keynote
*/
#keynote .description p {
    max-width: 48ch;
    margin: 0 auto;
}

/*
Meals
*/
#meals {
    margin-bottom: 5em;
}

#meals .gallery img {
    border-radius: 100%;
    border: 0.2em solid var(--off-white);
}

#meals .gallery {
    display: flex;
    align-items: center;
    max-width: 48ch;
    margin: 2.6em auto 2em;
    padding-left: 2em;
}

#meals .gallery a {
    order: 3;
    flex: 1 1 1em;
    margin-left: -2em;
}

#meals .gallery a.m3 {
    z-index: 2;
}

#meals .gallery a.m4 {
    z-index: 1;
}

#meals .description p {
    max-width: 48ch;
    margin: 0 auto;
    padding: 0.35em 0;
}

#meals .poster img {
    max-width: 48ch;
    width: 100%;
    margin: 2em auto 0;
}

#accommodations p {
    max-width: 48ch;
    margin: 0 auto;
    padding: 0.35em 0;
}

/* Location */

#location {
    margin-bottom: 4em;
}

.map {
    max-width: 48ch;
    margin: 1em auto 1em;
    width: 100%;
}

.address {
    margin-top: 2em;
}

.address p {
    margin: 0;
    padding: 0;
    text-align: center;
}

@media (max-width: 500px) {
    #schedule p {
        font-size: 0.55rem;
        margin: 0;
        padding: 0;
    }
}
